# Major Java IDE ignores

## Eclipse
.gradle
bin/
tmp/
*.tmp
*.swp

## Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# OS specific

## OSX
.DS_Store
.LSOverride
._*
.fseventsd
.Spotlight-V100
.Trashes

## Linux
*~
.directory
.Trash-*

# Language specific

## Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
